footer {
    position: absolute;
}

@media only screen and (max-width: 480px) {
    #iconTd, #movieIconTd, #showIconTd, #writerTd, #movieWriterTd, #showWriterTd {
        display: none;
    }

    .container {
        width: 100%;
    }
}