body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

.logo {
    flex: none;
    font-weight: 400;
}

.navbar ul a:hover {
    border-bottom: #df4759 1px solid;
}

.hero {
    background: url("/img/home/Cinema_Seats.png") no-repeat center/cover;
    height: 100vh;
    position: relative;
    color: #fff;
}

.hero .content {
    flex-direction: column;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.hero * {
    z-index: 10;
}

#navbar {
    z-index: 9999;
}

@media only screen and (min-width: 480px) and (max-width: 2600px) {
    nav {
        position: absolute;
        width: 100%;
    }
}